.page-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.canvas-wrapper {
    position: relative;
    height: 100%;
}

.selection-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.canvas-container,
.lower-canvas,
.upper-canvas {
    width: 100% !important;
    height: 100% !important;
}

#layer-container {
    position: relative;
}

input[type="text"] {
    width: 25px;
}
